body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  width: max-content;
  /* text-align: center; */
}

#flight-list {
  border: 2px solid black;
  border-collapse: collapse;
}

th, td {
  text-align: center;
  padding: 5px 10px;
  border: 1px solid black;
}

th {
  background-color: deepskyblue;
}

td {
  background-color: lightgrey;
}

#create-flight, #create-arrival {
  width: 20rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  margin: 35px 0 50px;
  border: 3px solid black;
  background-color: floralwhite;
  padding: 25px;
}

#create-flight > button, #create-arrival > button {
  place-self: center;
  width: 80px;
  grid-column: span 2;
}

#info-grid {
  width: 30rem;
  display: grid;
  grid-template-columns: 0.6fr max-content;
  border-collapse: collapse;
  border-block: 2px solid black;
  background-color: honeydew;
}

#info-grid * {
  padding: 5px 10px;
}

#info-grid > p:not(.arrival) {
  display: flex;
  justify-content: left;
  align-items: center;
}

.arrival {
  grid-column-start: 2;
  display: grid;
  grid-template-columns: 0.5fr max-content;
  align-items: center;
}

.sub-head {
  font-weight: bold;
  padding: 0;
}

#create-arrival button {
  text-decoration: none;
  border: 2px solid black;
  color: black;
  background-color: skyblue;
  padding: 5px 8px;
}

#create-arrival button:hover {
  background-color: lightpink;
}

#ticket-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#ticket-section a {
  text-decoration: none;
  border: 2px solid black;
  color: black;
  background-color: skyblue;
  padding: 5px 8px;
}

#ticket-section a:hover {
  background-color: lightpink;
}